body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
.clear {
  clear: both;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

.hidden {
  display: none;
}

.hide {
  display: none
}

.show {
  display: block;
}

/*
  Section styles
 */
.card { 
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

.btn__text
/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

.attack-button {
  margin-top: 10%;
  margin-left: 20%;
  font-size: 1.2em;
  border-radius: 10px;
  padding: 5px;
}


/*********************
CHARACTER IMG SECTION 
*********************/

.characterImg img {
  width: 40%;
  float: left;
  margin-top: 210px;
  margin-left: -300px;
}

.enemyImg img {
  width: 45%;
  float: right;
  margin-top: 80px;
  margin-right: 50px;
}

.spell {
  width: 5%;
  float: left;
  margin-top: 350px;

}

.battleground {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/b1/da/c0/b1dac0470bdf2f7cc0c559599fba19f9.jpg");
  overflow: auto;
  background-size: cover;
  height: 780px;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*********************
**** STAT SECTION ****
*********************/

.enemyStat {
  float: right;
  margin: 2%;
  background-color: rgba(200,200,200,.8);
  border-radius: 10px;
  padding: 10px;
}

.playerStat {
  float: left;
  margin: 2%;
  background-color: rgba(200,200,200,.8);
  border-radius: 10px;
  padding: 10px;
}


